<%= render 'shared/errors', obj: @project %>

  
 <div class="container">
    <div class="well col-md-12">
     
        <%= form_for(@project, html: { multipart: true }) do |f| %>
  
                <div class="form-group col-sm-4"> 
                  <%= f.label 'Call Sheet Title:' %>
                  <%= f.text_field :projectname, class: "form-control" %>
                </div>
             
                
            
                  <div class="form-group col-sm-5" id="address"> 
                  <%= f.label 'Address:' %>
                  <%= f.text_field :address, class: "form-control", :placeholder => "Enter an address", :id => "add" %>
                  </div> <input id="find" type="button" value="find" />
                  <div class="form-group" id="map"></div>
              
            
             <div class="col-sm-4">
                 <%= f.label "General Crew Call Date/Time:" %>
                 </div>
              <div class="form-group col-sm-4 input-group date" id="datetimepicker1">
             
              <%= f.datetime_field :gendatetime, class: "form-control" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
              
          
          <div class="form-group col-sm-4"> 
          <label for="same_as_gen_time">Same as Gen. Time?</label>
          <input id="same_as_gen_time" name="Same as Gen. Time?" type="checkbox" value="1" />
          </div>
          
          <div class="col-sm-4">
          <%= f.label 'Shoot Call Date/Time:'%>
          </div>
          <div class="form-group col-sm-4 input-group date" id="datetimepicker2"> 
            
            <%= f.datetime_field :shootdatetime, class: "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
         
         
          
            <%= f.fields_for :producers do |producer| %>
            <div class="col-sm-4">
            <%= producer.label 'Producer:' %>
            </div>
            <div class="form-group col-sm-4 input-group"> 
            <%= producer.text_field :name, class: "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-plus"></span>
            </span>
            <% end %>
            </div>
          
            
         
       
            <div class="form-group col-sm-4"> 
            <%= f.label 'Director:' %>
            <%= f.text_field :director, class: "form-control" %>
            </div>
          
          
            <div class="form-group col-sm-4"> 
            <%= f.label 'Message to Recipients (optional):' %>
            <%= f.text_area :message, size: "10x10", class: "form-control" %>
            </div>
         
            <div class="form-group" id="pano"></div>
            
            <div class="form-group float_right" id="notes"> 
            <%= f.label 'Notes:' %>
            <%= f.text_area :notes, size: "50x10", class: "form-control" %>
            </div>
            
          
          <%= f.hidden_field :user_id, :value => current_user %>
          
          <div class="form-group col-sm-4"> 
          <%= f.submit(@project.new_record? ? 'Create Project' : 'Error', class: "btn btn-default") %>
          </div>
      <% end %>
      </div>
    </div>


 <script type="text/javascript">
            $(function () {
                  $('#datetimepicker1').datetimepicker({format: "YYYY-MM-DD hh:mm a"});
              });
  </script>
  <script type="text/javascript">
            $(function () {
                  $('#datetimepicker2').datetimepicker({format: "YYYY-MM-DD hh:mm a"});
              });
  </script>
  <script>
var panorama;
function initialize() {
  $('#pano').show();
  panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'),
      {
        position: {lat: 37.869260, lng: -122.254811},
        pov: {heading: 165, pitch: 0},
        zoom: 1
      });
}

</script>
    
    <!--<script -->
    <!--     src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=placeskey=AIzaSyDX5-pW-5Lc8kHiMYc3F4CSG-xeL14P81w&signed_in=true">-->
    <!--</script>-->

<script>
      $(function(){
        
        var options = {
          map: "#map"
        };
        
        $("#add").geocomplete(options)
          .bind("geocode:result", function(event, result){
            $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });
        
        $("#find").click(function(){
          $("#add").trigger("geocode");
        });
        
        $("#examples a").click(function(){
          $("#add").val($(this).text()).trigger("geocode");
          return false;
        });
        
      });
</script>

 
  
  
  