<%= render 'shared/top_bar'%>
<div>
<%= link_to "CREATE NEW CALL SHEET", new_project_path, class: "btn btn-default float_right create_call_sheet" %>
<%= render 'shared/page_title', title: "PROJECT LIST:" %>
</div>


<% if @user.projects.count < 1 %>
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <section class="no_call_sheets">
          <h3>LOOKS LIKE YOU DON'T HAVE ANY CALL SHEETS YET</h3>
          <h3>START SENDING CALL SHEETS BY CREATING ONE</h3>
          <p id="call_sheet_btn"><%= link_to "CREATE NEW CALL SHEET", new_project_path, class: "btn btn-default" %></p>
        </section>
      </div>
</div>      
<%end%>    
<% else %>
<div class="container">
  <% @user.projects.each do |project| %>

  <div class="row">
    <div class="col-md-12 projects_list">
      <section>
        <div class="col-md-3">
        <h4 class="project_gen_date"><%= project.gendatetime.strftime('%B %d - %I:%M %p') %></h4>
        </div>
        <div class="col-md-3">
        <h4 class="project_name"><%= project.projectname %></h4>
        </div>
        <% if project.sent %>
        <div class="col-md-3">
        <div class="sent"><p>SENT</p></div>
        </div>
        <% elsif project.saved %>
        <div class="col-md-3">
        <div class="saved"><p>SAVED DRAFT</p></div>
        </div>
        <% else %>
        <div class="col-md-3">
        <div class="hide"><p>hidden</p></div>
        </div>
        <%end%>
        <div class="col-md-3">
        <div class="archive float_right">
          <p><%= link_to image_tag("archive.png", :alt => "Archive", :class => "") %> ARCHIVE</p>
     
          
        </div>
        </div>
      </section>
    </div>
  </div>
<%end%>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'ARCHIVE', archives_path, class: 'btn btn-default archive-btn'%>
    </div>
  </div>

</div>
  

