<%= render 'shared/top_bar'%>
<%= render 'shared/page_title', title: "PROJECT LIST:" %>


<% if @user.projects.count < 1 %>
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <section class="no_call_sheets">
          <h3>LOOKS LIKE YOU DON'T HAVE ANY CALL SHEETS YET</h3>
          <h3>START SENDING CALL SHEETS BY CREATING ONE</h3>
          <p id="call_sheet_btn"><%= link_to "CREATE NEW CALL SHEET", new_project_path, class: "btn btn-default" %></p>
        </section>
      </div>
</div>      
<%end%>    
<% else %>
  <% @user.projects.each do |project| %>
<div class="container">
  <div class="row">
    <div class="col-md-12 projects_list">
      <section>
        <h3 class="project_gen_date"><%= project.created_at.strftime('%B %d - %I:%M %p') %></h3>
        <h3 class="project_name"><%= project.projectname %></h3>
      </section>
    </div>
  </div>
</div>    
<%end%>

<%= link_to "Recipients", new_project_path %>

