<% @schedule.each do |schedule| %>
    <div class="row">
      <div class="col-md-3">
        <p><%= schedule.time.strftime('%I:%M %p') %></p>
      </div>
      <div class="col-md-3">
        <p><%= schedule.location %></p>
      </div>
      <div class="col-md-3">
        <% @cast.each do |cast| %>
        <% if cast.schedule_id == schedule.id %>
        <p><%= cast.name %></p>
        <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% @crew.each do |crew| %>
        <% if crew.schedule_id == schedule.id %>
        <p><%= crew.name %></p>
        <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Description: <%= schedule.description %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>

<%end%>
        