<!DOCTYPE html>
<html>
<head>
  <title>Easycallsheets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDX5-pW-5Lc8kHiMYc3F4CSG-xeL14P81w"></script>
  
</head>
<body>

<div class="container-fullwidth">
  <%= render 'layouts/messages' %>
<%= yield %>


  <%= render 'layouts/footer' %>
</div>

</body>
</html>
